/[if IE]
!!!
/[if lte IE 6] <html lang="en" class="no-js ie ie6 lte-ie8 lte-ie7">
/[if IE 7]     <html lang="en" class="no-js ie ie7 lte-ie8 lte-ie7">
/[if IE 8]     <html lang="en" class="no-js ie ie8 lte-ie8">
/[if IE 9]     <html lang="en" class="no-js ie ie9">
<!--[if (gt IE 9)|!(IE)]><!-->
%html{:lang => "en", :class => "no-js"}
	<!--<![endif]-->

	%head
		%meta{:charset => "utf-8"}
		%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge, chrome=1"}

		%title= data.page.title || "Orioltf"

		/ Why stylesheets should be placed before scripts: http://uxmovement.com/content/why-you-should-place-style-sheets-before-scripts/
		= stylesheet_link_tag "orioltf", {:media => "all"}
		- if content_for?(:page_custom_styles)
			= yield_content :page_custom_styles

		/ Load Modernizr at the head: http://modernizr.com/docs/#installing
		= javascript_include_tag "orioltf_head"

		- if content_for?(:page_custom_header_scripts)
			= yield_content :page_custom_header_scripts

	%body
		= partial "partials/skiplinks"

		.layout_wrapper
			.layout_header
				= partial "partials/header", :locals => {:title => current_page.data.title}

			.layout_content#maincontent
				= yield

			.layout_footer
				= partial "partials/footer"

		= partial "partials/jquery_include", :locals => {:version => "1.10.2"}
		= javascript_include_tag "orioltf"
		- if content_for?(:page_custom_bottom_scripts)
			= yield_content :page_custom_bottom_scripts
